@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.customer.Name</h2>
<ul>
    <li>@ViewBag.customer.MembershipType.Name</li>
    <li>@ViewBag.customer.Birthdate</li>
</ul>

